@import url(https://fonts.googleapis.com/css?family=Arvo:700);
.quote {
  background-image: url('../img/apiajax-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: 576px 324px;
  height: 324px;
  width: 576px;
  position: relative;
  font-family: 'Arvo';
  z-index: 1; }

img {
  position: fixed;
  top: -10;
  left: -10;
  width: 75px;
  height: 75px;
  z-index: 2; }
